{% extends "base.html" %} {% block title %} Not Found {% endblock %} {% block content %}
<nav class="header bg-header transparent-light" data-pages="header" data-pages-header="autoresize" data-pages-resize-class="dark">
  <div class="container relative">


    <div class="pull-right clearfix"  id="header">

      <div class="header-inner">
        <ul class="menu">
          {% if current_user %}
          <li>
            <a class="text-black" href="/users/{{current_user.username}}">My Places</a>
          </li>
          <li>
            <a class="text-black">Hello {{current_user.first_name}}</a>
          </li>
          <li>
            <a class="btn btn-primary btn-cons" href="#" data-toggle="modal" data-target="#addPlaceModal">Add Place</a>
          </li>
          {% else %}
          <li>
            <a class="btn btn-primary btn-cons" href="/signup" data-text="Sign up">Sign up</a>
          </li>
          <li>
            <a class="btn btn-cons" href="/login" data-text="Log in">Log in</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container-xs-height full-height">
  <div class="row-xs-height">
    <div class="col-xs-height col-middle">
      <div class="error-container text-center">
        <h1 class="error-number">404</h1>
        <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
        <p>This page you are looking for does not exsist <a href="https://github.com/chloenayon/underground/issues">Report this?</a>
        </p>
        <div class="error-container-innner text-center">
          <form method="get" action="/search">
            <div class="form-group form-group-default input-group transparent text-left">
              <label>Search</label>
              <input class="form-control" placeholder="I'm looking for" type="text" name="q" required=""> <span class="input-group-addon"><i class="pg-search"></i></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
