<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>underground</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
    <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; z-index: -1; }
      #button {
         position:absolute;
         z-index: 1;
      }
    </style>
  </head>
  <body>
    <div id='map'></div>

    <script>
      L.mapbox.accessToken = 'pk.eyJ1IjoiY2thdWJpc2NoIiwiYSI6ImNpaWJ2eGE2dzAxa3B3ZWx6NWYwZGx1dWIifQ.jSuKW32Avl_d3_TB2JqGlA';
      var map = L.mapbox.map('map', 'mapbox.streets')
      .setView([40.7127, -74.0059], 12);

    </script>
    <center>
      <form method="GET">
	<button id="button"> Add </button>
	<input type="hidden" value=""></input>
      </form>
      <script>
        function showPosition(pos){
           var a = [pos.coords.latitude, pos.coords.longitude];
       	   obj = document.forms['newPlace'];
           obj.elements["location"].value = a;
           console.log(a);
<!--
           L.marker(a, {icon : L.mapbox.marker.icon({
                 'marker-size': 'medium',
                 'marker-color': '#FF8888'
              })
           }).addTo(map);
-->
        };

        var addThing = function add(e){
           navigator.geolocation.getCurrentPosition(showPosition);
        };
        var button = document.getElementById("button");
        button.addEventListener('click', addThing);
      </script>
    </center>

    {% for item in name %}

    <script>

     var b = [{{item[1]}}, {{item[0]}}];
           L.marker(b, {icon : L.mapbox.marker.icon({
                 'marker-size': 'medium',
                 'marker-color': '#FF8888'
          })
     }).addTo(map);

     </script>

    {% endfor  %}
  </body>
</html>


